<h1>Show Task</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @task.name %>
  </li>

  <li>
    <strong>Done:</strong>
    <%= @task.done %>
  </li>

  <li>
    <strong>User:</strong>
    <%= TaskTracker.Users.get_user(@task.user_id).name %>
  </li>

  <li>
    <%= @task.minutes_spent %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.task_path(@conn, :edit, @task) %></span>
<span><%= link "Back", to: Routes.task_path(@conn, :index) %></span>
